<div id="tabelaApr">
<table id="myTable" class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th id="title" scope="col">Matrícula</th>
        <th id="title" scope="col">Nome</th>
        <th id="title" scope="col">Data da solicitação</th>
        <th id="title" scope="col">Escala</th>
        <th id="title" scope="col">Primeira Entrada</th>
        <th id="title" scope="col">Primeira Saida</th>
        <th id="title" scope="col">Segunda Entrada</th>
        <th id="title" scope="col">Segunda Saida</th>
        <th id="title" scope="col">Horas Trab.</th>
        <th id="title" scope="col">Status</th>
        <th id="title" scope="col">Just.</th>
        <th id="title" scope="col">Rejeita</th>
        <th id="title" scope="col">Aprova</th>
        <th id="title" scope="col">Alterar Registro</th>
      </tr>
    </thead>
    <tbody>
      {% if histReg %}
      {% for registros in histReg %}
    <tr>
      <th scope="row">{{registros.userExtra.matricula}}</th>
      <td>{{registros.userExtra.get_full_name}}</td>
      <td>{{registros.dataExtra}}</td>
      <td>{{user.escala.nmEscala}}</td>
      <td> 
        {% if registros.horEnt1 != None %}
          {% if registros.altEnt1 == True %}
            <span style="color: red;">{{registros.horEnt1}} *</span>
          {% else %}
            {{registros.horEnt1}}
          {% endif %}
        {% else %}
          ------
        {% endif %}
      </td>
      <td>
        {% if registros.horSai2 != None %}
          {% if registros.altSai2 == True %}
            <span style="color: red;">{{registros.horSai2}} *</span>
          {% else %}
            {{registros.horSai2}}
          {% endif %}
        {% else %}
          ------
        {% endif %}

      </td>
      <td>
        {% if registros.horEnt3 != None %}
          {% if registros.altEnt3 == True %}
            <span style="color: red;">{{registros.horEnt3}} *</span>
          {% else %}
            {{registros.horEnt3}}
          {% endif %}
        {% else %}
          ------              
        {% endif %}

      </td>
      <td>
        {% if registros.horSai4 != None %}
          {% if registros.altSai4 == True %}
            <span style="color: red;">{{registros.horSai4}} *</span>
          {% else %}
            {{registros.horSai4}}
          {% endif %}
        {% else %}
          ------  
        {% endif %}
      </td>

      <td>
         {% comment %} {% if registros.horSai2 != None %}
          {% if registros.horEnt1 != None and registros.horSai2 != None and registros.horEnt3 == None and registros.horSai4 == None %}  
            {{registros.horEnt1 - registros.horSai2}} 
          {% if (registros.horEnt1 != None) and (registros.horSai2 != None) and (registros.horEnt3 != None) and (registros.horSai4 != None) %}  
            {{registros.horEnt1 - registros.horSai4}}
          {% else %}
            0  
          {% endif %}
        {% else %}
          ------  
        {% endif %} {% endcomment %}
        {{registros.diff_formatted}}
      </td>

      <td>
        {% if registros.sitAPR == "PEN" %}
          Pendente
        {% elif registros.sitAPR == "REJ"%}
          Rejeitado
          {% elif registros.sitAPR == "APR"%}
          Aprovado
        {% endif %}
      </td>
      <td>
        {% comment %} <a href="" hx-post="{% url 'justificativas' registros.id %}" data-bs-target="justificativas{{registros.id}}" hx-target="#justificativa" class="alinhamento">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </a> {% endcomment %}


        {% comment %} Para adicionar o click precisa ter os seguintes componentes data-bs-toggle="" data-bs-target="" onde o target precisa ter a mesma chave do modal {% endcomment %}
        {% if registros.justificativas.all %}
          <a href="#" class="alinhamento" data-bs-toggle="modal" data-bs-target="#justificativas{{registros.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
          </a>

          {% comment %} Para apresentar o Modal adicionar o id com chave do item {% endcomment %}
          <div class="modal fade" id="justificativas{{registros.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" >Justificativa</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% comment %} {% for reg in registros %} {% endcomment %}
                    {% for just in registros.justificativas.all %}
                      <div><b>Tipo de Justificativa:</b> {{just.tipoJust}}</div>
                      <div><b>Descrição:</b> {{just}}</div>
                      <br>
                    {% endfor %}
                  {% comment %} {% endfor %} {% endcomment %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="alinhamento colorBlue">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
              <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
              <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
            </svg>
          </div>
        {% endif %}

      </td>
      <td>
        <a href="" id="load" hx-delete="{% url 'desaprovarHE' registros.id %}"  hx-confirm="Você Realmente Deseja Desaprovar Este Registro?" hx-target="#tabelaApr" hx-swap="outerHTML" class="alinhamento">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" style="color: red;" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </a>
      </td>
      <td>
        <a href="" id="load" hx-delete="{% url 'aprovarHE' registros.id %}"  hx-confirm="Você Realmente Deseja Aprovar Este Registro?" hx-target="#tabelaApr" hx-swap="outerHTML" class="alinhamento">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" style="color: green;" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
          </svg>
          </a>
      </td>
      <td>
        <span>
        <a href="#" class="alinhamento" data-bs-toggle="modal" data-bs-target="#ajustes{{registros.id}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </a>
        </span>
        <div class="modal fade" id="ajustes{{registros.id}}" aria-hidden="true">
          <div class=" mt-4 modal-dialog">
            {% comment %} <form class="modal-content" action="{% url 'altRegistro' registros.id %}" method="POST"> {% csrf_token %} {% endcomment %}
            <form class="modal-content" action="{% url 'aprovaPontoHE' %}" method="POST"> {% csrf_token %}
              <div class="modal-header">
                <h1 class="modal-title fs-5" >Editar Registro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div>
                  <div class="mb-3">
                    <label for="" class="col-form-label">Usuario: {{registros.userExtra.get_full_name}}</label>
                    <label for="" class="d-flex"> Data: {{registros.dataExtra}}</label>
                    <input name="inpID" type="text" value="{{registros.id}}" style="display: none;">
      
                    <label for="" class="mt-3 col-form-label">Registros</label>
                    <div class=" d-flex justify-content-center gap-3 times">
                      <div>
                        <label for="ent1" class="col-form-label">1º Entrada</label>
                        <input type="time" class="form-control" id="ent1" name="ent1" value="{{registros.horEnt1}}">
                      </div>
                      <div>
                        <label for="sai1" class="col-form-label">1º Saida</label>
                        <input type="time" class="form-control" id="sai1" name="sai1" value="{{registros.horSai2}}">
                      </div>
                      <div>
                        <label for="ent2" class="col-form-label">2º Entrada</label>
                        <input type="time" class="form-control" id="ent2" name="ent2" value="{{registros.horEnt3}}">
                      </div>
                      <div>
                        <label for="sai2" class="col-form-label">2º Saída</label>
                        <input type="time" class="form-control" id="sai2" name="sai2" value="{{registros.horSai4}}">
                      </div>
                    </div>
                    <label for="" class="mt-3 col-form-label">Observação</label>
                    <textarea class="form-control" id="message-text" name="obsSup" rows="5">{{registros.obsSup}}</textarea>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button name="btAltReg" type="submit" class="btn btn-primary" data-bs-toggle="modal" onclick="carregamento()">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>