{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https: //fonts.googleapis.com/css2?family= Nunito :wght@200;300;400;500;600 & family= Open+Sans:wght@300;400;600 & display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style_Troca_Senha.css' %}">
    <link rel="shortcut icon" href="{% static 'image/LogoRedonda.png' %}" type="image/x-icon">
    <script defer src="{% static 'js/script_delay_mensagem.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Nova Senha</title>
</head>

<body>
    <div class="container col-sx-6 col-sm-6 col-md-8 w-100">
        <label class="logo">
            <img src="{% static 'image/logo_400x400 branco.png' %}" alt="">
        </label>
        <div class="tamanho content col-xs-10">
            {% comment %} <p class=" text1">Informe sua Nova Senha</p> {% endcomment %}
            <div class="column w-100 ">

                <form class="form" method="POST"> {% csrf_token %}
                    <p class="form-text1"><b> Digite a sua nova senha.</b></p>
                    <div id="input" class=" flex-nowrap w-100 col-sm-9 gap-2">
                        <input name="senha1" type="password" class="form-control w-100 " placeholder="Digite sua Senha">
                        <input name="senha2" type="password" class="form-control w-100 " placeholder="Confirme sua Senha">
                    </div>
                    <div id="passwordHelp" class="form-text pb-4">
                        Sua senha deve conter no minimo 8 caracteres, letras maiusculas ou minusculas, número e caracteres especiais.
                    </div>
                    <button name="btaltSenha" id="btn-hover" class="btn" submit="submit">Salvar nova Senha</button>
                    <footer class="footer">
                        <p class=""> © 2023
                            <span> | Desenvolvido por</span>
                            <img src="{% static 'image/logo_400x400 ponto seguro de lado.png' %}" alt="">
                        </p>
                    </footer>
                </form>
            </div>

        </div>
    </div>
    {% include 'parciais/_menssageErro.html' %}
</body>

</html>