{% load static %}
<div>
    <h2 style="text-align: center;"><span style="color: #008080;"><strong><span class="S1PPyQ">Token para Troca de
                    Senha</span></strong></span></h2>
    <h4 style="text-align: center;"><span style="color: #000000;"><strong><span class="S1PPyQ">Olá, Vimos que
                    você fez uma solicitação para troca de senha, se caso não foi você
                    quem fez pode desconsiderar esse e-mail!</span></strong></span></h4>
    <p>&nbsp;</p>
    <h3 style="text-align: center;"><strong>{{token}}</strong></h3>
    <p>&nbsp;</p>
    <div style="text-align: center;"><span class="S1PPyQ">Este e-mail foi enviado por um processo automático, por
            gentileza não responder</span></div>
    <!-- <div><span class="S1PPyQ"><img style="display: block; margin-left: auto; margin-right: auto;"
                src="{% static 'image\LogoE-mail.png' %}" alt="Logo" width="337" height="110" /></span></div> -->
</div>